<header>
    <nav class="navbar">
        <div class="container">
            <a class="navbar-brand" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">My Header</a>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/books" routerLinkActive="active"
                        ariaCurrentWhenActive="page">Books</a>
                </li>
            </ul>
        </div>
    </nav>
</header>